extends layout

block content
  h1= title
  a(href="/posts/newpost") make a new post
  ul
    each post, p in posts
      li
        h2 from: #{post.name}
        p content: #{post.content}
        p _id: #{post._id}
        a(href="/posts/#{post._id}/delete") delete
        a(href="/posts/#{post._id}/edit") edit
